# Nuxt
.output
.data
.nuxt
.nitro
.cache
dist
node_modules
*.log
.env
.env.*
!.env.example

# Capacitor
android/.gradle
android/build
android/app/build
android/captures
android/.idea
ios/App/Pods
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata
ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.orig.*
*.ipa
*.dSYM.zip
*.dSYM
